<div class="panel panel-default">
  <img [src]="recipe.imageurl" height=300 width=300>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="recipe.name" [readonly]="!editing">

    <label>Category: </label>
    <select [(ngModel)]="recipe.category" [disabled]="!editing">
      <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
    </select>

    <label>Chef: </label>
    <input [(ngModel)]="recipe.chef" [readonly]="!editing">
  </div>

  <ingredients [(editing)]="editing" [(ingredients)]="recipe.ingredients"></ingredients>
</div>

<div>
  <label>Description: </label>
  <input class="form-control input-lg" [(ngModel)]="recipe.description" [readonly]="!editing">
</div>

<div>
  <button (click)="goBack()">Back</button>
  <button (click)="edit()" [hidden]="editing">Edit</button>
  <button (click)="save()" [hidden]="!editing">Save</button>
</div>

<div class="panel panel-default">
  <label>Comments: </label>
  <div>
    <ul>
      <li *ngFor="let comment of recipe.comments"> {{comment}} </li>
    </ul>
  </div>

  <input class="form-control input-lg" [(ngModel)]="newComment">
  <button (click)="leaveComment()">Leave Comment</button>
</div>
