<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li *ngFor="let category of categories" (click) = "selectCategory(category)"> <a >{{category.name}}</a></li>
      </ul>
    </div>
  </nav>

  <div *ngIf = "recipeHeaders">
    <ul>
      <li *ngFor="let recipe of recipeHeaders" (click) = "goDetails(recipe)"> {{recipe.name}} {{recipe.chef}} <button (click)="deleteRecipe(recipe, $event)">X</button>   </li>
    </ul>
  </div>

  <div>
  <button (click)="createRecipe()">+</button>
  </div>
</div>
